name: help_ping_ui
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.2
  audioplayers: ^6.0.0
  qr_flutter: ^4.1.0        # QR code package [web:223]
  provider: ^6.1.2          # state management for theme switch [web:256]

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/helpping.png
    - assets/sounds/beep.wav
